@media screen and (min-width: 1921px) {
  
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {

}

@media screen and (min-width: 769px) and (max-width: 1440px) {

}

@media screen and (min-width: 415px) and (max-width: 768px) {
   
}

@media screen and (max-width: 414px) {
    .shelf5 {
        display: none;
    }
    .horizontal5 {
        display: none;
    }
    .letters {
        width: 94vw;
        height: 100vw;
        background-size: 376vw 94vw;
        margin-left: 10%;
    }
    .letters:hover {
        background-position: -290vw 0;
    }
    .next_button {
        margin-top: 5vw;
        margin-left: 43vw;
        width: 15vw;
    }
}